# PostgreSQL
POSTGRES_DB=iotplatform
POSTGRES_USER=iotadmin
POSTGRES_PASSWORD=changeme_strong_password

# InfluxDB
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=changeme_strong_password
INFLUXDB_ADMIN_TOKEN=changeme_admin_token_64chars_min
INFLUXDB_ORG=iotplatform
INFLUXDB_BUCKET=system

# EMQX
EMQX_DASHBOARD_PASSWORD=changeme_strong_password

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme_strong_password

# Step-CA
STEP_CA_PASSWORD=changeme_ca_password

# Nginx / TLS
PLATFORM_DOMAIN=platform.local

# Grafana
GRAFANA_ADMIN_PASSWORD=changeme_strong_password
